/*
GLOBAL  
*/
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: monospace;

}

.clr-float {
    clear: both;
}

/*
HEADER
*/
#header-container {
    text-align: center;
}

h1 {
    margin-top: 10px;
    padding: 10px;
    font-size: 45px;
    letter-spacing: 2px;
}

#rock-span {
    color: orangered;
}

#paper-span {
    color: lightblue;
}

#scissors-span {
    color: #ffe600;
}

#header-container h3 span  {
    font-size: 23px;
    margin-bottom: 10px;
}

/*
GAMEBOX
*/
#game-box {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    border: black 2px solid;
    border-radius: 25px;
    overflow: auto;
    padding: 20px;
    padding-bottom: 0;
}

#player-container {
    float: left;
    padding: 0px;
    margin: 0px;
}

h2 {
   font-size: 24px; 
}

.game-images {
    margin: 15px 10px;
    height: 140px;
}

#computer-selection {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#computer-container {
    float: right;
    padding: 0px;
    margin: 0px;
}

.score {
    font-size: 30px;
    border: dotted black 2px;
    padding: 0px;
    width: 20%;
    text-align: center;
    margin: 0 auto;
}

#scoreboard {
    font-size: 20px;
    position: relative;
    bottom: 30px;
}

/*
RESULT
*/
#result {
    margin-top: 30px;
}

h3 {
    text-align: center;
    font-size: 20px;
}

/*
Choices
*/
#choices {
    display: flex;
    justify-content: center;
    width: 100%;
}

.images {
    text-align: center;
    opacity: 0.7;
    display: inline-block;
    box-sizing: border-box;
}
.rock, .paper, .scissors {
    height: auto;
    width: 100%;
}

.images:hover {
    opacity: 1;
}
/*
RESTART BUTTON
*/
#new-game-container {
    text-align: center;
    margin: 0 auto;

}

#new-game {
    width: 40%;
    padding: 15px;
}

@media(min-width: 1300px) {
    #game-box {
        max-width: 30%;
    }
}

@media(max-width: 812px) {

}